* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

a {
  color: #000000;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1032px;
  margin: 0 auto;
}

#skipToMain {
  padding: 12px 40px;
  font-size: 22px;
  line-height: 26px;
  background: #c7d2e9;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  line-height: 59px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  line-height: 26px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

/* Header styles */

.header {
  padding-top: 36px;
  margin-bottom: 120px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.header__logo {
  width: 200px;
  margin-right: auto;
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-img {
  display: block;
  width: 100%;
}

.header__search {
  display: block;
  width: 295px;
  margin-right: 18px;
}

.header__search {
  position: relative;
}

.header__search-input {
  border-radius: 26px;
  border: 1px solid #c7d2e9;
  width: 100%;
  height: 48px;
  padding: 12px 56px 12px 24px;
}

.header__search-submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  width: 44px;
  height: 44px;
  background-image: url("./images/search.svg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__language {
  margin-right: 43px;
}

.header__lang-button {
  padding: 12px 18px;
  font-size: 22px;
  line-height: 26px;
  background-color: #c7d2e9;
  border-radius: 4px;
}

.header__lc-open {
  display: block;
  width: 46px;
  height: 46px;
  background-image: url("./images/lc.svg");
  background-position: center center;
  background-repeat: none;
  background-size: contain;
}

.header__lc-modal {
  display: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

/* Audiences nav styles */
.audiences {
  margin-bottom: 120px;
}

.audiences__options {
  display: flex;
  align-items: center;
}

.audiences__options-item {
  margin-right: 40px;
}

.audiences__options-item:last-child {
  margin-right: 0;
}

.audiences__options-link {
  background-color: #5d16d5;
  color: #ffffff;
  border: 1px solid #5d16d5;
  padding: 9px 40px;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.audiences__options-link:hover {
  background-color: #5d16d5d6;
  border-color: #5d16d5d6;
}

/* Exibitions styles */
.exibitions {
  margin-bottom: 120px;
}

.exibitions__heading {
  margin-bottom: 40px;
}

.exibitions__filters {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.exibitions__filter-item {
  margin-right: 40px;
}

.exibitions__filter-item:last-child {
  margin-right: 0px;
}

.exibitions__filter {
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.exibitions__filter_active {
  padding: 17px 38px;
  border-radius: 8px;
  background-color: #c7d2e9;
  border: 1px solid #c7d2e9;
}

.exibitions__events {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.exibitions__event {
  padding: 0 20px;
  width: 33.3%;
}

.exibitions__event-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.exibitions__event-image {
  width: 100%;
}

.exibitions__event-name {
  margin-bottom: 16px;
}

.exibitions__event-date {
  margin-bottom: 8px;
}

.exibitions__event-description {
  margin-bottom: 24px;
}

/* Museum styles */

.museum {
  margin-bottom: 120px;
}

.museum__heading {
  margin-bottom: 40px;
}

.museum__tabs {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.museum__tab-wrapper {
  margin-right: 40px;
}

.museum__tab-wrapper:last-child {
  margin-right: 0px;
}

.museum__tab {
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.museum__tab_active {
  padding: 17px 38px;
  border-radius: 8px;
  background-color: #c7d2e9;
  border: 1px solid #c7d2e9;
}

.museum__panel_hidden {
  display: none;
}

.museum__buildings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -20px;
  width: calc(100% + 40px);
  margin-bottom: -69px;
}

.museum__building {
  padding: 0 20px;
  width: 33.3%;
  margin-bottom: 69px;
}

.museum__building-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.museum__building-image {
  width: 100%;
}

.museum__building-name {
  margin-bottom: 8px;
  width: 90%;
  text-transform: uppercase;
}

.museum__building-address {
  margin-bottom: 24px;
}

.museum__history {
  margin-bottom: 48px;
}

.museum__history-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
}

.museum__history-text:last-child {
  margin-bottom: 0px;
}

.museum__history-more {
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
}

/* Streams styles */
.streams {
  margin-bottom: 120px;
}

.streams__heading {
  margin-bottom: 40px;
}

.streams__frame-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.streams__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Live styles */
.live {
  margin-bottom: 160px;
}

.live__heading {
  margin-bottom: 40px;
}

.live__main {
  width: 70%;
}

.live__text {
  margin-bottom: 24px;
}

.live__link {
  text-decoration: underline;
}

.live__link_block {
  display: block;
}

/* Footer styles */
.footer {
  padding: 73px 0 95px;
  background-color: #f1f1f1;
}

.footer__wrapper {
  display: flex;
}

.footer__subscribe,
.footer__more {
  width: calc(50% - 40px);
}

.footer__links {
  margin-bottom: 40px;
}

.footer__link-item {
  margin-bottom: 16px;
}

.footer__link-item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 18px;
  line-height: 21px;
}

.footer__socials-title {
  margin-bottom: 16px;
}

.footer__socials-list {
  display: flex;
  align-items: center;
}

.footer__socials-item {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer__socials-link:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.footer__socials-link_mail {
  background-image: url("./images/socials/mail.svg");
}

.footer__socials-link_tg {
  background-image: url("./images/socials/tg.svg");
}

.footer__socials-link_fb {
  background-image: url("./images/socials/fb.svg");
}

.footer__subscribe-heading {
  margin-bottom: 35px;
}

.footer__subscribe-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer__subscribe-field {
  width: 300px;
  margin-right: 20px;
}

.footer__subscribe-input {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.footer__subscribe-input:placeholder {
  color: #000000;
  opacity: 1;
}

.footer__subscribe-submit {
  background-color: #5d16d5;
  color: #ffffff;
  border: 1px solid #5d16d5;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.footer__subscribe-submit:hover {
  background-color: #5d16d5d6;
  border-color: #5d16d5d6;
}

.footer__subscribe-wrapper {
  display: flex;
  align-items: center;
}

.footer__subscribe-checkbox-label {
  cursor: pointer;
}

.footer__subscribe-checkbox-input:checked
  + .footer__subscribe-checkbox-custom:before {
  opacity: 1;
}

.footer__subscribe-checkbox-custom {
  position: relative;
  display: block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.footer__subscribe-checkbox-custom:before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #000000;
}

/* Modal styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.43);
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 150px;
  width: calc(1032px / 100 * 77);
  background-color: #fff;
  border-radius: 8px;
}

.modal__heading {
  margin-bottom: 57px;
}

.modal__field {
  margin-bottom: 57px;
}

.modal__field-input {
  display: block;
  width: 100%;
  padding: 14px 20px 16px;
  background: #f9f9fb;
  border: 1px solid #c7d2e9;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 30px;
  line-height: 35px;
}

.modal__send {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 30px;
  line-height: 35px;
  background: #c7d2e9;
  border-radius: 8px;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
  display: block;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.modal__close:before,
.modal__close:after {
  content: "";
  position: absolute;
  width: 44px;
  height: 1px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
